html {
	background-color: yellow;
}

body {
	background: yellow;
	width: 50%;
	margin: 10px auto;
	padding: 10px;
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 1.3vw;
}

h1{
	font-size:80px;
	font-family: "Georgia";
	font-style: italic;
	font-weight: black;
	text-align: center;
	color:red;

}

h2{
	font-size:70px;
	font-family: "Heiti SC";
	margin-top: 0vh;
	font-weight:bold;
	text-align: center;
	color:red;

}

table {
	border-collapse: collapse;
	border: 2px black solid;
	font: 12px sans-serif;
}

td {
	border: 1px black solid;
	padding: 5px;
}